* {
  box-sizing: border-box;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  margin: 5% 15%;
}

header, h2 {
  color: #1c4dc0;
}

.showScore,
.addScore {
  padding: 0 1rem 1rem 1rem;
  width: 50%;
}

.showScoreTitle {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  min-height: auto;
}

.nameList {
  border: 1px solid #c1baba;
  box-shadow: 5px 10px 15px #1c4dc0;
  border-radius: 3px;
}

.nameList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nameList ul li {
  padding: 4px;
}

.nameList ul li:nth-child(even) {
  background-color: rgb(243, 240, 235);
}

.nameList ul li:hover {
  background-color:#6480c0;
  color: #ff9;
}

.body {
  display: flex;
  gap: 3rem;
  margin: 3rem;
}

.button {
  float: right;
  border: 1px solid #4a76dc;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #4a76dc;
  color: #fff;
}

.button:hover {
  background-color: #1c4dc0;
}

input[type=text] {
  border: 1px solid #1c4dc0;
  padding: 0.5rem 0.5rem;
  width: 100%;
}

::placeholder {
  color: #1c4dc0;
}
